@import url('https://fonts.googleapis.com/css2?family=Texturina:ital,opsz,wght@0,12..72,400;0,12..72,700;1,12..72,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

html {
  font-size: 15pt;
}

body {
  font-family: Texturina, serif;
  color: #222;
  background-color: #eee;
  line-height: 1.3;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  line-height: 1.0;
}

.header, .content, .footer {
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  max-width: 35rem;
}

.header, .footer {
  color: LemonChiffon;
  background-color: DarkSlateGray;
  box-shadow: 0.5rem 0rem 1rem 0rem #fff;
}

.header {
  text-align: center;
  border-radius: 0 0 1rem 1rem;
}

.content {
  padding-bottom: 3rem;
}

.footer {
  border-radius: 1rem 1rem 0 0;
}

a {
  color: DarkSlateGray;
}

a:visited {
  color: inherit;
}

.header a,
.footer a {
  color: #eee;
}

.header a:visited,
.footer a:visited {
  color: inherit;
}

.nolink {
  all: unset;
}

code {
  font-family: "IBM Plex Mono", monospace;
  font-size: 13pt;
}

pre {
  background-color: #222;
  padding: 1em;
  overflow-x: scroll;
  whitespace: nowrap;
}
