<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
  <title>{% if page.title %}{{ page.title }} (Crash Lime){% else %}Crash Lime{% if section.title %} {{ section.title }}{% endif %}{% endif %}</title>
  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/latest/normalize.css" />
  <link rel="stylesheet" href="/style.css" />
  {% block extra_head %} {% endblock extra_head %}
</head>
<body style="overflow-x: hidden">
<div class="header">
  <p><i>We interrupt this doomscroll <br>to bring you...</i></p>
  <h1><a class="nolink" href="/">Crash Lime</a></h1>
  <p>Delicious performance <br>64 bites at a time!</p>
</div>
<div class="content">{% block content %} {% endblock %}</div>
<div class="footer">
  <p><i>Thank you for tuning in!</i></p>
  <p>Check out more posts by heading <a href="/">Home</a>.</p>
  <p>Subscribe to this blog via <a href="/atom.xml">Atom/RSS</a>.</p>
  <p>Copyright © 20xx Insert Employer Here, All Limes Preserved.</p>
</div>
</body>
</html>
